/* -----UTILITY------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}
.d-flex {
    display: flex;
}

.card {
    position: relative;
}

.card .detail {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}


/* ------------------------------------- */
/* HEADER */
#app_header {
    background-color: #ff6900;
    padding: 1.5rem;
    box-shadow: 2px 2px 8px gray;
}

.banner {
    /* height: 100px; */
    color: white;
    justify-content: space-between;
    align-items: center;
}

.gender > ul{
    gap: 1rem;
    list-style: none;
    font-size: 1rem;
    display: flex;
    font-size: 1.5rem;
}

.logo{
    width: 20%;
}
.icons > ul{
    gap: 1rem;
    list-style: none;
    font-size: 1rem;
    display: flex;
    font-size: 1.5rem;
}

/*--------------- MAIN--------------------- */

.row .d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
}

.card > #img_left {
    padding-left: 0;
}

.col4 {
    padding-left: 2rem;
    padding-top: 3rem;
    width: calc((100% / 12) * 4);
}

.card:hover .detail {
    display: block;
    border: 3px solid #ff6900;
}

.like {
    position: absolute;
    right: 0;
    top: 0.5rem;
    text-align: center;
    font-size: 30px;
    background-color: white;
    width: 50px;
    height: 40px;
    justify-content: end;
    
}
.card:hover .like {
    display: block;
    background-color:dodgerblue;
    color: #ff6900;
    border-radius: 3px;
}
.badge_r {
    position: absolute;
    left: 0;
    bottom: 90px;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: red;
    padding: 0.5rem;
    justify-content: end;
    font: bold;
}

.badge_g {
    position: absolute;
    left: 65px;
    bottom: 90px;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: green;
    padding: 0.5rem;
    justify-content: end;
    font: bold;
}

.badge_g_sost {
    position: absolute;
    left: 0;
    bottom: 90px;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: green;
    padding: 0.5rem;
    justify-content: end;
    font: bold;
}

/* FOOTER */
#app_footer {
    background-color: black;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.brand > ul {
    list-style: none;
    font-size: 1rem;
    background-color: white;
}
.credits > ul {
    list-style: none;
    font-size: 1rem;
}