/* -----UTILITY------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.banner {
    height: 100px;
    color: white;
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.card {
    position: relative;
}

.card .detail {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

/* ------------------------------------- */
/* HEASER */
#app_header {
    background-color: darkorange;
}

.gender {
    align-items: center;

}

.icons {
    align-items: center;
}

/* MAIN */
.row .d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
}

.col4 {
    padding-top: 3rem;
    padding-left: 2rem;
    width: calc((100% / 12) * 4);
}

.card:hover .detail {
    display: block;
}

.like{
    position: absolute;
    right: 0;
    top: 0.5rem;
    text-align: center;
    font-size: 30px;
    background-color: white;
    width: 50px;
    height: 50px;
    justify-content:end;
}

.badge_r{
    position: absolute;
    left: 0;
    bottom: 1rem;
    text-align: center;
    font-size: 20px;
    background-color: red;
    width: 60px;
    height: 30px;
    justify-content:end;
}

/* FOOTER */
#app_footer{
    background-color: black;
    padding-top: 3rem;
}